		<div class="center">			
			<ul class="thumbnails">
				<% @items.each do |product| %>					
					<li class="span4">					
							<h2><%= link_to "#{product.description}", product %></h2>
					</li>
				<% end %>
			</ul>
		</div>


