<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
