@import "bootstrap";

/* mixins */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* Item */
.items {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    /*padding: 10px 0; */
    border: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}


/* Thumbnails */
.thumbnails {
	
}
.thumbnails li {
		/*padding-left: 15px; */
    width: 275px;
    height: 325px;
    float: none !important; /* to overwrite the default property on the bootstrap stylesheet */
    display: inline-block;
    *display: inline; /* ie7 support */
    zoom: 1;
}


